In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [137]:
def double_exponential_smooth(d, extra_periods = 1, alpha = 0.4, beta = 0.4):
    #length of input list
    cols = len(d) 
   
    for i in range(extra_periods):
        d.append(np.nan)

    #fill forecast, level, and trend columns with nan
    f = np.array([np.nan]*(cols+extra_periods))
    a = np.array([np.nan]*(cols+extra_periods))
    b = np.array([np.nan]*(cols+extra_periods))

    #initialize level and trend columns
    a[0] = d[0]
    b[0] = d[1]-d[0]
    
    #populate level and trend columns
    for i in range(1,cols):
        a[i] = alpha * d[i] + (1-alpha)*(a[i-1] + b[i-1])
        b[i] = beta * (a[i] - a[i-1]) + (1-beta)*b[i-1]

    #forecast next to historical data
    for i in range(1,cols+1):
        f[i] = a[i-1] + b[i-1]

    #forecast into the future
    for i in range(cols+1, extra_periods + cols):
        f[i] = f[i-1] + b[cols-1]

    df = pd.DataFrame.from_dict({'Demand':d, 'Forecast':f, 'Level':a, 'Trend':b})
    return(df)

In [140]:
d = [37,60,85,112,132,145,179,198,150,132]
table = double_exponential_smooth(d,5,alpha=0.3,beta=0.4)
table

    Demand    Forecast       Level      Trend
0     37.0         NaN   37.000000  23.000000
1     60.0   60.000000   60.000000  23.000000
2     85.0   83.000000   83.600000  23.240000
3    112.0  106.840000  108.388000  23.859200
4    132.0  132.247200  132.173040  23.829536
5    145.0  156.002576  152.701803  22.509227
6    179.0  175.211030  176.347721  22.963903
7    198.0  199.311624  198.918137  22.806508
8    150.0  221.724645  200.207252  14.199551
9    132.0  214.406803  189.684762   4.310735
10     NaN  193.995496         NaN        NaN
11     NaN  198.306231         NaN        NaN
12     NaN  202.616966         NaN        NaN
13     NaN  206.927700         NaN        NaN
14     NaN  211.238435         NaN        NaN